name: Sync GitHub Issues

on:
  issues:
    types:
      - opened
      - closed
      - labeled
      - unlabeled
  workflow_dispatch:

concurrency:
  # If multiple issues are edited in quick succession, e.g. a PR closes multiple
  # issues, this workflow will be triggered once *per event*, e.g. 2 issues
  # closed = two workflow runs. In reality, we are interested in the most
  # recent event since all previous events will be caught by the API calls in
  # the script. Hence we use the concurrency of GitHub Actions to cancel in
  # progress runs and default to the latest run.
  group: issue-sync
  cancel-in-progress: true

jobs:
  sync-issues:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: read
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: head
      - name: Checkout issue-data
        uses: actions/checkout@v3
        with:
          path: issue-data
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - working-directory: head/scripts
        run: |
          pip install -U pip
          pip install -r requirements.txt
      - working-directory: head/scripts
        run: python get-repo-issues.py
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          cp head/microtask-table.csv issue-data/
          cp head/project-table.csv issue-data/
      - uses: EndBug/add-and-commit@v9
        with:
          cwd: ./issue-data
          add: "microtask-table.csv project-table.csv --force"
          message: "Update tables of issues"
          new_branch: "issue-data"
